// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// custom components at https://material.angular.dev/guide/theming
@use './styles/_devconnect-theme' as *;

html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #f5f5f5;
}