.app-sidenav {
    height: 100dvh;
  width: 240px;
  background-color: #fff;
  color: white;

  display: flex;
  flex-direction: column;
}

mat-nav-list {
  flex: 1;
}

a.mat-list-item {
  color: white;
}

a.mat-list-item.active {
  background-color: rgba(255, 255, 255, 0.12);
}

.logout-container {
  padding: 16px;
}
