.app-sidenav {
  height: 100dvh;
  width: 240px;
  background-color: #fff;

  display: flex;
  flex-direction: column;
}

mat-nav-list {
  flex: 1;
}

a.mat-mdc-list-item.active,
a.mat-mdc-list-item.active .mdc-list-item__primary-text,
a.mat-mdc-list-item.active .mat-mdc-list-item-icon {
  color: #1976d2;
}

.logout-container {
  padding: 16px;
}
